article {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin: 0 auto 1em auto;
  width: 100%;
}

img {
  max-width: 100%;
}

/* zocials */

[class*="zocial-"]:before {
  display: inline-block;
  font-family: 'zocial', sans-serif;
  width: 20vw;
}